<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header><h1>Demo Express + Handlebars</h1></header>
  {{{body}}}
</body>
</html>
